<form method="post" action="{{ path('app_bank_delete', {'id': bank.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette banque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bank.id) }}">
    <button class="btn">Supprimer</button>
</form>
